:root {
  --color-bg-main: #111d13;
  --color-accent: #52b788;
  --color-text-primary: #40916c;
  --color-text-dark: #081c15;
  --color-table-header-bg: #344e41;
  --color-text-light: #dad7cd;
  --color-text-time: #588157;
  --color-red: #d40000;
}
